.accordion-header button {
  width: 100%;
  font-family: Sans-Serif;
  font-size: 18px;
  padding: 15px 5px;
  text-align: left;
  border-radius: 15px 0px 0px 0px;
  outline: 0
  border: 0;
}

.accordion-body {
  border: 2px solid #0ff;
}