.card {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card {
  flex: 1 0 100%;
}

@media (min-width: 576px) {
  .card {
    flex: 0 0 calc(33.3333% - 20px);
    margin-right: 10px;
    margin-left: 10px;
  }
}

@media (min-width: 768px) {
  .card {
    flex: 0 0 calc(25% - 20px);
  }
}